<!doctype html>
<html lang="ru">
<link rel="stylesheet" type="text/css" href="/static/styles/main.css">
<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{% block title %}{% endblock %}</title>
<body>
    <div class = "common-testing-container">
        <header class="header">
            <div><a>{{ res_value('APP_NAME') }}</a></div>
            <div><a></a></div>
            <div class="header-r">
                   {% if session['language'] == 'ru' %}
                            <a href="/language/kz">{{ res_value('GOTO_KAZ_LANG') }}</a>
                    {% else %}
                            <a href="/language/ru">{{ res_value('GOTO_RUS_LANG') }}</a>
                   {% endif %}
            </div>
        </header>

        <div class="article_title_init">
            {% block main_title %}{% endblock %}
        </div>
        <article_test>
                    {% block body %}{% endblock %}
        </article_test>
        <div class="command">
        <div class="all_command">
                    {% block all_command %}{% endblock %}
        </div>
        <div class="timer_area">
                    {% block timer_area %}{% endblock %}
        </div>
        </div>

        <footer class="footer">
              <div class="footer-l">
                 <small>© 2021</small>
              </div>
              <div class="footer-r">
                  <a style="font-size:14px">{% if g.user.is_authenticated %} {{ res_value('USER_IDENTIFY')}}:&nbsp{{ g.user.username }} {% endif %}</a>
              </div>
        </footer>
    </div>
</body>

</html>