{% extends 'base_login.html' %}

{% block title %}
    {{ res_value('FINISH_TESTING') }}
{% endblock %}

{% block main_title %}
    <h1 class="title">{{ res_value('FINISH_TESTING') }}</h1>
{% endblock %}

{% block body %}
<div class="div_login_page">
<form class="form_register">
    <div class="title_message">
    {% with messages = get_flashed_messages() %}
        <ul class="flashes">
            {% for msg in messages %}
                {% if msg %}
                <li>{{ res_value('HAVING_UNANSWERED_QUESTIONS') }}: {{ msg }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endwith %}
    </div>
    <table>
        <tr>
            {% if not message %}
            <a class="bt nav"  href="/finish-approve">{{ res_value('FINISH') }}</a>
            {% endif %}
            <a class="bt nav"  href="/testing/5">{{ res_value('RETURN_FOR_CHECK') }}</a>
        </tr>
    </table>
</form>
</div>
{% endblock %}
