{% extends 'base_testing.html' %}

{% block title %}
    {{ res_value('APP_NAME') }}
{% endblock %}

{% block main_title %}
    <h1 class="title">{{ theme }}</h1>
{% endblock %}

{% block command %}
    <input class="bt nav" type="submit" value="{{ res_value('FIRST_QUESTION') }}">
    <input class="bt nav" type="submit" value="{{ res_value('PREV_QUESTION') }}">
    <input class="bt nav" type="submit" value="{{ res_value('SAVE_ANSWER') }}">
    <input class="bt nav" type="submit" value="{{ res_value('NEXT_QUESTION') }}">
    <input class="bt nav" type="submit" value="{{ res_value('LAST_QUESTION') }}">
{% endblock %}

{% block body %}
<form class="form_register" method="POST">
    <p class="question">
        {% for el in questions %}
        {{ el.order_num }}.  {{ el.question }}
        {% endfor %}
    </p>
    <div>
        {% for el in answers %}
            <br><br>
            <input name="select" type="radio" id="{{ el.id_answer }}"  value="{{ el.id_answer }}">
            <label for="{{ el.id_answer }}" class="answer">{{ el.answer }}</label>
        {% endfor %}
    </div>
</form>
{% endblock %}
