{% extends 'base_testing.html' %}

{% block title %}
    {{ res_value('APP_NAME') }}
{% endblock %}

{% block main_title %}
    <h1 class="title">{{ theme }}</h1>
{% endblock %}

{% block timer_area %}
    <p id="label_timer">{{ res_value('REMAIN_TIME') }}: &nbsp</p>
    <p id="timer" hidden>{{ remain_time }}</p>
    <p id="timer_vis"></p>
    <p id="label_sec">&nbspcек.</p>
    <script>
    setInterval(myTimer, 1000);
    function myTimer() {
        let ticks = document.getElementById("timer").innerHTML
        if (ticks > 0) {
            ticks=ticks-1
            document.getElementById("timer").innerHTML = (ticks).toString()
            if(ticks<=60)
                document.getElementById("timer_vis").innerHTML = Math.floor(ticks % 60).toString()
            else {
                if (ticks <= 3600)
                    document.getElementById("timer_vis").innerHTML = Math.floor((ticks / 60) % 60).toString() + ':' +
                        Math.floor(ticks % 60).toString()
                else
                    document.getElementById("timer_vis").innerHTML = Math.floor((ticks / 3600) % 24).toString() + ':' +
                        Math.floor((ticks / 60) % 60).toString() + ':' + Math.floor(ticks % 60).toString()
            }
        }
    }
    </script>
{% endblock %}

{% block all_command %}
    <a class="bt_command nav"  href="/testing/0">{{ res_value('FIRST_QUESTION') }}</a>
    <a class="bt_command nav"  href="/testing/1">{{ res_value('PREV_QUESTION') }}</a>
    <a class="bt_command nav"  href="/testing/3">{{ res_value('NEXT_QUESTION') }}</a>
    <a class="bt_command nav"  href="/testing/4">{{ res_value('LAST_QUESTION') }}</a>
{% endblock %}

{% block body %}
    <div class="answer">
        <p class="question">
            {% for el in questions %}
            {{ el.order_num }}.  {{ el.question }}
            {% endfor %}
        </p>
        {% for el in answers %}
            <br><br>
            {% if el.selected == 'Y' %}
                <input name="select" type="radio" id="{{ el.order_num_answer }}"  value="{{ el.order_num_answer }}" checked>
            {% else %}
                <input name="select" type="radio" id="{{ el.order_num_answer }}"  value="{{ el.order_num_answer }}" disabled>
            {% endif %}
            <label for="{{ el.order_num_answer }}"></label>
            <a  class="select" href="/testing/save/{{ el.order_num_answer }}">{{ el.order_num_answer }}.  {{ el.answer }}</a>
        {% endfor %}
    </div>
{% endblock %}

